<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">COMP2106 - Car Tracker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
              
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a  class="nav-link" href="/about">About</a></li>
                <li class="nav-item"><a  class="nav-link" href="/contact">Contact</a></li>
                <li class="nav-item"><a  class="nav-link" href="/cars">Cars</a></li>
                <li class="nav-item"><a  class="nav-link" href="/manufacturers">Manufacturers</a></li>
                </ul>
                <div id="auth-nav" class="my-2 my-lg-0">
                <% if( !user) { %>
                    <button class="btn btn-outline-primary"><a href="/register">Register</a></button>
                    <button class="btn btn-outline-primary"><a href="/login">Login</a></button>
                <% } else { %>
                    <p><%= user.username %></p>
                    <button class="btn btn-outline-warning"><a href="/logout">Logout</a></button>
                <% } %>
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
    