<% include ../partials/header.ejs %>

    <h1><%= title %></h1>

    <form method="post">
        <fieldset class="form-group">
            <label class="control-label col-md-2" for="make">Manufacturer: *</label>
            <select name="make" id="make">
                <% for(let i = 0; i < manufacturers.length; i++) { %>
                    <option value="<%= manufacturers[i].name %>"><%= manufacturers[i].name %></option>
                <% } %>
            </select>
        </fieldset>
        <fieldset class="form-group">
            <label class="control-label col-md-2" for="model">Model: *</label>
            <input type="text" name="model" id="model" required />
        </fieldset>
        <fieldset class="form-group">
            <label class="control-label col-md-2" for="year">Year: *</label>
            <input type="number" name="year" id="year" required />
        </fieldset>
        <fieldset class="form-group">
            <label class="control-label col-md-2" for="colour">Colour:</label>
            <input type="text" name="colour" id="colour" />
        </fieldset>
        <button class="offset-md-2 btn btn-primary">Save</button>
    </form>


    <div>
        <p>Couldn't find the manufacturer? Add new <a href="/manufacturers/add">here</a>.</p>
    </div>
<% include ../partials/footer.ejs %>